<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Generate App!</title>
    </head>
    <body>
      <%= @message %>
      <br><br>
      <a href="/new">Create new message</a>
    </body>
</html>