<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Generate App!</title>
    </head>
    <body>
      <h1>All Messages:</h1>
      <ul>
        <% @links.each do |link| %>
          <li>
            <a href="/message/<%= link.url %>"><%= link.message %></a>
          </li>
        <% end %>
      </ul>
      <a href="/new">Create new message</a>
    </body>
</html>