<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Message generator!</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <p><%= AES.decrypt(@link.message, @link.encrypted_key) %> </p>
    <form action="/delete/<%=@link.url%>" method="post">
      <input type="submit" value="Delete now!" />
    </form>
    <form action="/delete/<%=@link.url%>" method="post">
      <input type="hidden" name="one_hour_value" value="39" >
      <input type="submit" value="Delete after 1 hour!" name="push_button" />
    </form>
    <form action="/delete/<%=@link.url%>" method="post">
      <input type="submit" value="Delete after n-hours!"/>
      <input id="number" type="number" name="delete_value" min="1" value="1">
    </form><br>
    <a href="/new">Go home</a><br>
    <a href="/">View all messages</a>
  </body>
</html>